@page
@model SWGlobalTest.Pages.BuyNowModel
@{
}

<div>
    <h2>@(Model.Transaction.VendorName + " Offers")</h2>
    <h3>@Model.Transaction.OfferName</h3>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            @if(!string.IsNullOrWhiteSpace(Model.Errors)){
                <div class="alert alert-danger alert-dismissible">@Model.Errors</div>
            }

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input asp-for="Transaction.OfferId" type="hidden" />
            <input asp-for="Transaction.AppUserId" type="hidden" />
                <input asp-for="Transaction.UnitPrice" type="hidden" />

            @if(Model.Transaction.CanBuyMoreThanOneUnit){
                <div class="form-group">
                    <label asp-for="Transaction.NumberOfUnit" class="control-label"></label>
                    <input asp-for="Transaction.NumberOfUnit" class="form-control" />
                    <span asp-validation-for="Transaction.NumberOfUnit" class="text-danger"></span>
                </div>
            }else{
                <input asp-for="Transaction.NumberOfUnit" value="1" type="hidden" />
            }
            
            <div class="form-group">
                <label asp-for="Transaction.TargetPhoneNumber" class="control-label"></label>
                <input asp-for="Transaction.TargetPhoneNumber" class="form-control" />
                <span asp-validation-for="Transaction.TargetPhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Debit Card Number</label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Expiry Date</label>
                <input class="form-control" type="date" required />
            </div>
            <div class="form-group">
                <label class="control-label">CVV</label>
                <input class="form-control" required/>
            </div>
            <div class="form-group">
                <label class="control-label">Pin</label>
                <input class="form-control" type="password" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
